{% extends 'bootstrap/base.html' %}
{% block navbar %}
		<nav class="navbar navbar-default">
			{% if current_user.is_authenticated %}
			<a href="{{ url_for('index') }}">Начало</a>
			<a href="{{ url_for('clients') }}">Клиенты</a>
			<a href="{{ url_for('orders') }}">Заказы</a>
			<a href="{{ url_for('report') }}">Отчеты</a>
			<a href="{{ url_for('logout') }}">Выход</a>
			{% else %}	
			<a href="{{ url_for('login') }}">Вход</a>
			{% endif %}
		</nav>
{% endblock %}
{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
		{% endif %}
		{% endwith %}
		{% block app_content %}{% endblock %}
	</div>
{% endblock %}	